
/* .head{
    height: 400px;
    width: 1000px;
} */
.head-details img{
    border-radius: 16px;
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%)
}
.head-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}
.head-detail-text{
    text-align: center;
    margin-top: -500px;
}
.subhead{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin: 130px 530px 0px 530px;
}
.head-main-text{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    width: 800px;
    margin-left: 400px;
    margin-top: 10px;
}

/* Main start */

.main-head{
    margin: 250px auto;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
}
.main-head h1{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    text-align: center;
}
.main-head h6{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: -30px;
}
.main-head h3{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

/* Third Section */

.section-third{
    border-radius: 16px;
    background-image:linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url("../images/Vectorrr.png");
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}
.section-third-text{
    color: white;
    width: 40%;
    margin-left: -20%;
}
.section-third-text .third-section-title{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 54px;
    font-weight: 900;
    text-align: left;
}
.btn{
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.section-third-image img{
margin-left: 50%;
/* background-image: linear-gradient(360.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%); */
}

/* Forth section style start */
.forth-section-area{
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    width: 1320px;
    height: 382px;
    margin: 90px auto;
}
.forth-section-area-text .forth-text{
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.forth-section-area-text .forth-section{
    color: red;
}
.btn-forth{
    position: relative;
    font-weight: 700;
    color: white;
    width: 167px;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px 16px 32px;
    border-radius: 8px;
    background: rgb(255, 0, 0);
    margin: 0 auto;
}

/* Fifth Section */

.fifth-section-head{
    display: flex;
    width: 1320px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}

.fifth-section-first{
    width: 30%;
}
.fifth-section-first-sub{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: -45px;
}
.fifth-section-first-main{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: -10px;
}

.fifth-image{
box-sizing: border-box;
padding: 15px 15px 15px 15px;
border: 15px solid rgb(255, 0, 0);
border-radius: 100%;
}
.fifth-last{
    margin-right: -50px;
    width: 30%;
}
.fifth-last h3{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 38px;
    font-weight: 700;
}

/* sixth-section start style */

.sixth-section{
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
    width: 50%;
    margin-bottom: 70px;
}
.sixth-section h6{
    color: rgb(7, 2, 17);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: -72px;
}
.sixth-section span{
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 91px;
    color: rgb(255, 0, 0)
}
.sixth-section h1{
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 91px;
    margin-bottom: -5px;
}
.sixth-section-last{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px 30px 30px;
}
.box-img{
    display: bottom left;
}
.discount-img{

}
.six-section-last-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px 30px 30px;
}
/* Seventh section */

.seventh-section-container{
    display: block;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.seventh-section-container img{
    padding: 10px;
}
.seventh-section-container 
.seventh-section{
    text-align: left;
    margin-left: 120px;
    width: 600px;
}
.seventh-section h6{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    text-align: left;
    margin-bottom: -40px;
}
.seventh-section h1{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: -10px;
}
.newsletter-section{
    display: block;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;
    margin-top: 85px;
}
.newsletter-section h1{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: -10px;
}
.newsletter-section p{
    width: 450px;
    display: block;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.newsletter-section input{
width: 248px;
height: 42px;
border-radius: 50px;
background: rgb(255, 255, 255);
border: none;
}
.newsletter-section input[type="submit"]{
position: absolute;
width: 110px;
height: 43px;
border-radius: 0px 50px 50px 0px;
background: rgb(255, 0, 0);
margin-left: -17px;
border: none;
}

/* Footer section */
.footer{
    margin-left: 100px;
    background-color: #070211;
    margin-top: 50px;
    margin: 0 auto;
}
.footer-head{
    width: 1320px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 50px;
}
.footer-body img{
   align-items: center;
   justify-content: center;
   display:inline-block;
   margin: 0 auto;
   margin-left: 200px;

}

.footer-last{
    width: 1320px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;
}
